__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
*.egg

app/uploads/
!app/uploads/.gitkeep
/.idea/*
.vscode/

/tests/public_binding_free_energy_benchmark/fep_benchmark_inputs/structure_inputs/waterset/chk1/*
/tests/public_binding_free_energy_benchmark/fep_benchmark_inputs/structure_inputs/waterset/hsp90_kung/*
/tests/public_binding_free_energy_benchmark/fep_benchmark_inputs/structure_inputs/waterset/scyt_dehyd/*
/tests/public_binding_free_energy_benchmark/fep_benchmark_inputs/structure_inputs/waterset/taf12/*
/tests/public_binding_free_energy_benchmark/fep_benchmark_inputs/structure_inputs/waterset/throm_nozob_hip75/*
/tests/public_binding_free_energy_benchmark/fep_benchmark_inputs/structure_inputs/waterset/urokinase/*

/tests/public_binding_free_energy_benchmark/fep_benchmark_inputs/structure_inputs/macrocycles/2E9P_lig4to7_alpha05/*
/tests/public_binding_free_energy_benchmark/fep_benchmark_inputs/structure_inputs/macrocycles/3RKZ_lig62to70_alpha05/*
/tests/public_binding_free_energy_benchmark/fep_benchmark_inputs/structure_inputs/macrocycles/ck2_custcore_hotlys/*
/tests/public_binding_free_energy_benchmark/fep_benchmark_inputs/structure_inputs/macrocycles/hsp90_3hvd_custcore/*
/tests/public_binding_free_energy_benchmark/fep_benchmark_inputs/structure_inputs/macrocycles/MHT1_lig3_alpha05/*


/tests/hybrid_topology/output/hspw_edge_*_hybrid.pdb
/tests/public_binding_free_energy_benchmark/fep_benchmark_inputs/structure_inputs/waterset/*/*/hybrid_solv.pdb
